<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Bengali Surf Tiger - </title>
    <link rel="stylesheet" href="/stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc 4.6.1">
  </head>
  <body>
    <div id="main">

      <br>



<IMG SRC="image.gif" ALT="some text" WIDTH=32 HEIGHT=32>
		#<Nanoc::ItemWithRepsView:0x00563ec378c488>